# Données météo et dérivées
data/weather*/
data/weather_by_year/
data/weather_features/
data/Usable_station_per_department_2010_2023/

# Shapefile AOC complet
data/2025-07-01-delim-parcellaire-aoc-shp/


# Notebooks
*.ipynb


#Useless files
plot_weather_preprocessing.py
number.py
plot_weather_collection.py
__pycache__
.venv
.vscode
.ruff_cache
.pytest_cache